.headerContainer {
  align-items: center;
  display: flex;
  height: 105px;
  justify-content: center;
}

.headerContent {
  align-items: center;
  display: flex;
  height: 105px;
  justify-content: flex-start;
  max-width: 720px;
  width: 100%;
}
